*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1,h1,h3,h4,h5,h6,p{
  font-family: 'Space Mono',monospace;
  color: #fff;
}
.main-app{
  height:100vh;
  width:100vw;

  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;

  background-color:#141D2F;
}

.user-informations,
form{
  background: #1E2A47;
}

form{
  height:70px;
  width:800px;
  border: none;
  border-radius:14px;

  margin-top:28px;
  padding:10px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

form>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form>div>input{
  height:40px;
  width:600px;
  margin-left:5px;
  background: none;
  border:none;
  outline:none;
  color: #fff;
  font-size:1.25rem;
  letter-spacing: 1px;
}

form>div>input::placeholder{
  color:#eee;
}

button{
  height:50px;
  width:100px;
  background:#0079ff;
  color: #fff;
  font-weight:700;
  font-size:1rem;
  border:none;
  border-radius:10px;
}

.header{
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction:row;
  width:800px;
}

.user-informations{
  width: 800px;
  height: 430px;
  margin-top:20px;
  padding:40px;

  border-radius:15px;

  display: flex;
  justify-content: space-between;
  flex-direction:row-reverse;
}

.users-header-section{
  height:160px;
  width:570px;
}

.users-header-section>p:nth-of-type(1){
  margin-bottom:20px;
}

.header-section-one{
  display: flex;
  align-items:center;
  justify-content: space-between;
}


/* user status style */
.user-status{
  background: #141D2F;
  display: flex;
  align-items:center;
  justify-content: space-around;
  padding:15px 0;
  width:570px;
  border-radius:10px;
}

.user-status>div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.user-status>div>p{
  color:#ddd;
}

/* statistics information style */
.stat-cont{
  height:60px;
  width:570px;
  margin-top:25px;
  display:grid;
  grid-template-columns: repeat(2,250px);
  grid-template-rows: repeat(2,50px);
}

.stat-item-cont{
  display: flex;
  width:100%;
}

.stat-item-cont p{
  margin-left:10px;
}
